.Key__Features {
    padding: 40px 0;
    overflow: hidden;
}


/* Key Features Section starts */
.features-container {
    margin-top: 30px;
}

.features-container .feature-item {
    text-align: center;
    transition: all 0.3s;
}

.features-container .feature-item:hover .card-body {
    background-color: #DC2D13;
    color: white;
}

.feature-item .card-body {
    padding: 40px 0;
    border-bottom: 2px solid #2d3436;
}

.feature-item .feature-title-border {
    width: 20%;
    /* text-align: center; */
    margin: 0 auto;
}

.feature-item .feature-icon {
    font-size: 60px;
    color: #DC2D13;
}

.feature-item:hover .feature-icon{
    color: white !important; 
}

.feature-item h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Key Features Section ends */